[submodule "valign"]
	path = valign
	url = git@github.com:casouri/valign.git
[submodule "nox"]
	path = nox
	url = git@github.com:manateelazycat/nox.git
[submodule "color-rg"]
	path = color-rg
	url = https://github.com/manateelazycat/color-rg.git
