elpa
auto-save-list
.lsp-session-v1
.cache/
.org-id-locations
abbrev_defs
bm-repository
bookmarks
eshell/
lisp/init-org.el.backup
projectile-bookmarks.eld
recentf
recentf~
projectile.cache
request/
smex-items
tramp
transient/
tutorial/
url/
org-roam.db
persp-confs/
.elfeed/
nox/
valign/
cnfonts/
forge-database.sqlite
.persistent-scratch
newsticker/
.persistent-scratch-backup/
eaf
.mc-lists.el
eln-cache/
rime/
librime/
*.png
*.svg
pyim/
history
dirvish/